wrf*
archv*
*.a
*.b
*.nc
PET*
restart*
summary_out
ovrtn_out
ports*
patch.input
namelist.input
namelist.input.ori
namelist.output
namelist.wps
uwin.nml
*~
Makefile
RRTM*
SOIL*
VEG*
*.TBL
blkdat.input
job.err
job.out
job.sh
log.*
rsl.*